{% extends 'base_admin.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <div>
        <h1>Ajouter un commande</h1>   
        {{ form(formCommande) }}
    </div>

{% endblock %}
