{% extends 'base_admin.html.twig' %}

{% block title %}Edition des familles{% endblock %}

{% block body %}
    <div>
        <h1 >Ajouter une famille</h1>
        {{ form(formFamille) }}
    </div>


{% endblock %}
