{% extends 'base_admin.html.twig' %}

{% block title %}Liste des similitudes{% endblock %}

{% block body %}
    <div>
        <h1 >Ajouter une similitude</h1>
        {{ form(formSimilitude) }}
    </div>


{% endblock %}
